.model-choice {
  width: 100%;
  max-width: 810px;
  padding: 75px;
  margin: 0 auto;

  background-color: #fff;

  &__title {
    position: relative;

    margin: 0;
    margin-bottom: 73px;

    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    color: #000;

    &::after {
      content: "";

      position: absolute;
      bottom: -23px;
      left: 0;

      width: 100%;
      height: 8px;

      background: linear-gradient(to right, #D5D3FF, #7FB0F8);
    }
  }

  &__image {
    width: 375px;
    height: 288px;
    margin: 0 auto 30px;
  }

  &__label {
    margin: 0;
    margin-bottom: 15px;

    font-size: 15px;
    line-height: 16px;
    color: #707070;
  }

  &__brand-wrapper {
    position: relative;

    margin-bottom: 15px;
  }

  &__brand-choice,
  &__series-choice {
    position: relative;

    height: 63px;
    width: 100%;

    font-size: 15px;
    line-height: 16px;
    text-align: right;
    padding-right: 46px;
    color: #707070;

    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    z-index: 11;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "";

      position: absolute;
      right: 15px;
      top: 50%;

      width: 16px;
      height: 16px;
      margin-top: -8px;

      background-image: url('../img/arrow-down.svg');
    }

    &.opened::after {
      transform: rotate(180deg);
    }

    &.selected {
      font-weight: 600;
      color: #000;
    }
  }

  &__brand-list,
  &__series-list {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;

    display: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 194px;
    padding-top: 5px;

    z-index: 1000;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto;

    &.show {
      display: block;
    }
  }

  &__brand-item,
  &__series-item {
    padding-left: 15px;
    padding-right: 20px;

    font-weight: 600;
    font-size: 15px;
    line-height: 63px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */


    &:hover {
      cursor: pointer;
      background-color: #f7f7f7;
    }
  }

  &__series-wrapper {
    position: relative;

    margin-bottom: 50px;
  }

  &__link {
    position: relative;

    display: block;
    margin: 0 auto;
    width: 158px;
    height: 46px;
    padding-left: 18px;

    font-weight: 600;
    font-size: 18px;
    line-height: 46px;
    text-align: left;
    color: #000;
    text-decoration: none;

    border: none;
    background-color: transparent;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      color: #5EA9FF;
    }

    & span {
      display: inline-block;
      width: 46px;
      height: 27px;
      margin-left: 20px;

      vertical-align: middle;

      background-image: url('../img/arrow-right.svg');
    }

    &:hover span,
    &:active span,
    &:focus span {
      background-image: url('../img/arrow-right-blue.svg');
    }
  }

  &__link.disabled {
    color: #dadada;

    &:hover {
      cursor: default;
    }

    & span {
      background-image: url('../img/arrow-right-disabled.svg');
    }
  }
}

.model-choice__brand-choice-title,
.model-choice__series-choice-title {
  position: absolute;
  top: 50%;
  left: 15px;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  margin-top: -8px;

  display: block;
  z-index: 10;
}

.model-choice__select-series,
.model-choice__select-brand {
  display: none;
}

@include desktop {
  .model-choice {
    max-width: 620px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 75px 50px;
  }
}

@include tablet {
  .model-choice {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    min-height: 100vh;
    padding: 50px 11px;

    &__title {
      font-size: 36px;
      line-height: 42px;
      padding-right: 20%;
      margin-bottom: 70px;

      &::after {
        bottom: -20px;

        height: 5px;
      }
    }
  }
}

@include mobile {
  .model-choice {
    &__title {
      font-size: 28px;
      line-height: 32px;
      padding-right: 13%;
    }

    &__image {
      width: 288px;
      height: 222px
    }
  }

  .model-choice__select {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 1;
    z-index: 100;

    & option {
      opacity: 1;
    }
  }



  .model-choice__select-series,
  .model-choice__select-brand {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    opacity: 0;
    z-index: 1001;
  }
}


