.page-model {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f7f7f7;
}

@include tablet {
  .page-model {
    padding-top: 0;
    padding-bottom: 0;
  }
}
